.stepsBar {
  margin-bottom: 1.5rem; }
  .stepsBar div {
    padding: 0 3px; }
    .stepsBar div span {
      display: block;
      width: 100%; }
  .stepsBar.bar span {
    border-bottom: 4px solid #EDEDED; }
  .stepsBar.lowbar div:nth-child(1) span {
    border-bottom: 4px solid #F26722; }
  .stepsBar.mediumbar div:nth-child(1) span,
  .stepsBar.mediumbar div:nth-child(2) span {
    border-bottom: 4px solid #F2B822 !important; }
  .stepsBar.fullbar span {
    border-bottom: 4px solid #1ED699 !important; }
