.stepsBar{
	margin-bottom: 1.5rem;

	div{
		padding: 0 3px;

		span{
			display: block;
			width: 100%;
		}
	}

	&.bar{	

		span{			
			border-bottom: 4px solid #EDEDED;
		}
	}

	&.lowbar{	

		div:nth-child(1){

			span{			
				border-bottom: 4px solid #F26722;
			}
		}

	}

	&.mediumbar{

		div:nth-child(1),
		div:nth-child(2){
			
			span{
				border-bottom: 4px solid #F2B822 !important;
			}
		}
	}

	&.fullbar{
			
		span{
			border-bottom: 4px solid #1ED699 !important;
		}
	}
}