body{
  padding-top: 2rem;
}

input{
    outline-color: transparent !important;
    outline-style: none !important;
    -webkit-appearance: none;
    box-shadow: none;
}

.formCadastro{

  .logo{

    img{
      display: block;
      width: 55%;
      margin: 1.4rem auto;
    } 
  }

  .inputVal{    

    &.step1{ box-shadow: 0px 0px 4px 1px #F26722; }
    &.step2{ box-shadow: 0px 0px 4px 1px #F2B822; }
    &.step3{ box-shadow: 0px 0px 4px 1px #1ED699; }
  }
  
  .enviarBt{
    background: #6C41D7;
    text-align: center;
    color: #FFF;
    width: 100%;
    margin-top: 1rem;
  }

  .listValidacao{

    ul{
      list-style: none;
     
      li{
        line-height: 1;
        margin-bottom: 0.6rem;

        span{
          font-size: 1.4rem;
          line-height: 1;
          font-weight: 600;
          color: #000 !important;
        }

        &.active{

          span{
            color: #1ED699 !important;
          }
        } 
      }
    }
  }

}

