body {
  padding-top: 2rem; }

input {
  outline-color: transparent !important;
  outline-style: none !important;
  -webkit-appearance: none;
  box-shadow: none; }

.formCadastro .logo img {
  display: block;
  width: 55%;
  margin: 1.4rem auto; }

.formCadastro .inputVal.step1 {
  box-shadow: 0px 0px 4px 1px #F26722; }

.formCadastro .inputVal.step2 {
  box-shadow: 0px 0px 4px 1px #F2B822; }

.formCadastro .inputVal.step3 {
  box-shadow: 0px 0px 4px 1px #1ED699; }

.formCadastro .enviarBt {
  background: #6C41D7;
  text-align: center;
  color: #FFF;
  width: 100%;
  margin-top: 1rem; }

.formCadastro .listValidacao ul {
  list-style: none; }
  .formCadastro .listValidacao ul li {
    line-height: 1;
    margin-bottom: 0.6rem; }
    .formCadastro .listValidacao ul li span {
      font-size: 1.4rem;
      line-height: 1;
      font-weight: 600;
      color: #000 !important; }
    .formCadastro .listValidacao ul li.active span {
      color: #1ED699 !important; }
